@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, black 20%, rgba(0, 0, 0, 00) 65%) no-repeat;
        max-height: 100vh;
        width: 100vw;
        overflow: hidden;
       
    }

    main .homun .imagem {
        display: none;
        overflow: hidden;
        }
    
    main .homun .mImagem {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .conteudo {
        position: absolute;
        justify-content: end;
        display: flex;
        left: 5%;
        text-align: justify;
        padding: 5px;
       overflow: hidden;
        max-width: 80vw;

    }

    .conteudo .nome-personagem {
        font-size: 30px;
        left: 20%;
    }
    .conteudo .descricao {
        max-width: 600px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
        display: flex;
        text-shadow: none;
        color: white;
        left: 0;
        
    }

    .botoes {
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-width: 100vw;
        padding: 5px;
        scale: 1.3;
        right: -99%;
        top: 20%;
        opacity: 70%;
        
    }

    .botoes .botao img {
    max-width: 30px;
 }

}
